Repository zgibex333/dogs-test-task-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, eslint

.lintstagedrc.json:

{
  "*.{js, jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --fix",
    "eslint"
  ],
  "*.{json,js,ts,jsx,tsx,html}": ["prettier --write --ignore-unknown"]
}

feat: add google maps
  app/about/page.tsx
  app/components/Map/Map.module.scss
  app/components/Map/Map.tsx
  app/contact-us/page.tsx
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix, eslint

feat: display searched dog
  .eslintignore
  app/components/DogInfo/DogInfo.module.scss
  app/components/DogInfo/DogInfo.tsx
  app/components/Navbar/Navbar.tsx
  app/components/Search/SearchResults.module.scss
  app/components/Search/SearchResults.tsx
  app/components/Search/Searchbar.module.scss
  app/components/Search/Searchbar.tsx
  app/info/[dogName]/page.tsx
  app/info/layout.module.scss
  app/info/layout.tsx
  cypress.config.ts
  cypress/e2e/firstTest.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  lib/__generated__/gql.ts
  lib/__generated__/graphql.ts
  lib/queries.ts
  lib/schema.graphql
  lib/types.ts
  next.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix, eslint

feat: contact us form server action
  .eslintrc.json
  .vscode/settings.json
  app/components/Button/Button.tsx
  app/components/Textarea/Textarea.module.scss
  app/components/Textarea/Textarea.tsx
  app/contact-us/components/Form.module.scss
  app/contact-us/components/Form.tsx
  app/contact-us/components/actions.ts
  app/contact-us/page.tsx
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix, eslint

feat: booking form with validation
  app/book-appointment/actions.ts
  app/book-appointment/components/Form.module.scss
  app/book-appointment/components/Form.tsx
  app/book-appointment/components/Timeslots.module.scss
  app/book-appointment/components/Timeslots.tsx
  app/book-appointment/page.module.scss
  app/book-appointment/page.tsx
  app/components/Calendar/AppCalendar.module.scss
  app/components/Calendar/AppCalendar.scss
  app/components/Calendar/AppCalendar.tsx
  app/components/Checkbox/Checkbox.module.scss
  app/components/Checkbox/Checkbox.tsx
  app/components/Input/Input.module.scss
  app/components/Input/Input.tsx
  app/components/Radio/Radio.module.scss
  app/components/Radio/Radio.tsx
  app/components/Textarea/Textarea.module.scss
  app/components/Textarea/Textarea.tsx
  app/contact-us/components/Form.tsx
  app/info/layout.tsx
  app/layout.tsx
  app/styles/global.scss
  app/styles/variables.scss
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix, eslint

feat: paypal, email with resend and booking form
  .eslintrc.json
  .vscode/settings.json
  app/api/payment/route.ts
  app/book-appointment/actions.ts
  app/book-appointment/components/Form.module.scss
  app/book-appointment/components/Form.tsx
  app/book-appointment/components/FormSubmittedDialogue.tsx
  app/book-appointment/components/Timeslots.tsx
  app/book-appointment/page.module.scss
  app/components/Button/Button.module.scss
  app/components/Button/Button.tsx
  app/components/Calendar/AppCalendar.scss
  app/components/Calendar/AppCalendar.tsx
  app/components/Dialogue/Dialogue.module.scss
  app/components/Dialogue/Dialogue.tsx
  app/components/EmailTemplate/EmailTemplate.tsx
  app/components/Input/Input.tsx
  app/components/Textarea/Textarea.module.scss
  app/components/Textarea/Textarea.tsx
  app/constants/timeslots.ts
  app/contact-us/components/actions.ts
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix, eslint

refactor: forms, payments, emails
  app/api/payment/route.ts
  app/book-appointment/actions.ts
  app/book-appointment/components/Form/Form.module.scss
  app/book-appointment/components/Form/Form.tsx
  app/book-appointment/components/FormSubmittedDialogue.tsx
  app/book-appointment/components/SubmittedFormDialog/FormSubmittedDialogue.module.scss
  app/book-appointment/components/SubmittedFormDialog/FormSubmittedDialogue.tsx
  app/book-appointment/components/Timeslots/Timeslots.module.scss
  app/book-appointment/components/Timeslots/Timeslots.tsx
  app/book-appointment/page.tsx
  app/components/Button/Button.module.scss
  app/components/Dialogue/Dialogue.module.scss
  app/components/EmailTemplate/EmailTemplate.tsx
  app/components/Footer/Footer.module.scss
  app/components/Footer/Footer.tsx
  app/components/Navbar/Navbar.module.scss
  app/components/Navbar/Navbar.tsx
  app/constants/types.ts
  app/constants/validationSchemas.ts
  app/contact-us/actions.ts
  app/contact-us/components/Form.tsx
  app/styles/global.scss
  lib/paypal.ts
Due: prettier --write --ignore-unknown, eslint --fix, eslint

config: ignore env
  .gitignore
Due: none

feat: change bookingForm implementation; add payment form; refactor existing components for new implementation; cypress tests except payment
  .eslintrc.json
  app/book-appointment/actions.ts
  app/book-appointment/components/BookingDialog/BookingDialog.module.scss
  app/book-appointment/components/BookingDialog/BookingDialog.tsx
  app/book-appointment/components/BookingForm/BookingForm.module.scss
  app/book-appointment/components/BookingForm/BookingForm.tsx
  app/book-appointment/components/PaymentDialog/PaymentDialog.tsx
  app/book-appointment/components/PaymentForm/PaymentForm.module.scss
  app/book-appointment/components/PaymentForm/PaymentForm.tsx
  app/book-appointment/components/SubmittedFormDialog/FormSubmittedDialogue.tsx
  app/book-appointment/components/Timeslots/Timeslots.tsx
  app/book-appointment/page.module.scss
  app/book-appointment/page.tsx
  app/components/Calendar/AppCalendar.tsx
  app/components/Dialogue/Dialogue.tsx
  app/components/DogInfo/DogInfo.tsx
  app/components/Footer/Footer.module.scss
  app/components/Input/Input.tsx
  app/components/Search/SearchResults.tsx
  app/components/Text/Text.tsx
  app/components/Textarea/Textarea.tsx
  app/constants/validationSchemas.ts
  app/error.tsx
  cypress/e2e/booking.cy.ts
  cypress/e2e/navigation.cy.ts
  cypress/e2e/search.cy.ts
  lib/paypal.ts
Due: prettier --write --ignore-unknown, eslint --fix, eslint

feat: landing page
  app/components/Navbar/Navbar.module.scss
  app/components/StoreBlock/StoreBlock.module.scss
  app/components/StoreBlock/StoreBlock.tsx
  app/constants/storeData.ts
  app/constants/types.ts
  app/layout.tsx
  app/page.module.scss
  app/page.tsx
  app/styles/common.scss
  cypress/screenshots/firstTest.cy.ts/template spec -- passes (failed) (1).png
  cypress/screenshots/firstTest.cy.ts/template spec -- passes (failed).png
  cypress/screenshots/search.cy.ts/search -- works with correct input data (failed).png
  public/images/carryOn1.png
  public/images/carryOn2.png
  public/images/carryOn3.png
  public/images/collar1.png
  public/images/collar2.png
  public/images/collar3.png
  public/images/dog-bath.png
  public/images/hero.png
Due: prettier --write --ignore-unknown, eslint --fix, eslint

feat: footer newsletter
  app/components/Footer/Footer.tsx
  app/components/Newsletter/Newsletter.action.ts
  app/components/Newsletter/Newsletter.tsx
  app/constants/validationSchemas.ts
  app/page.tsx
Due: prettier --write --ignore-unknown, eslint --fix, eslint

config: test gh-actions with mock jest test
  .prettierignore
  app/test.test.ts
  cypress/screenshots/firstTest.cy.ts/template spec -- passes (failed) (1).png
  cypress/screenshots/firstTest.cy.ts/template spec -- passes (failed).png
  cypress/screenshots/search.cy.ts/search -- works with correct input data (failed).png
  cypress/tsconfig.json
  github/workflows/testing.yml
  jest.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix, eslint

config: gh-actions fix jobs/name
  github/workflows/testing.yml
Due: none

config: replace workflow with echo mock
  github/workflows/testing.yml
Due: none

fix: typo in github folder name
  .github/workflows/testing.yml
Due: none

config: fix yaml new line
  .github/workflows/testing.yml
Due: none

config: replace mock yml with tests yml
  .github/workflows/testing.yml
Due: none

fix: actions yaml indents
  .github/workflows/testing.yml
Due: none

config: fix identation
  .github/workflows/testing.yml
  .prettierignore
  .prettierrc
  .vscode/settings.json
Due: prettier --write --ignore-unknown

fix: pretiierignore
  .prettierignore
Due: none

actions
  app/components/Footer/Footer.tsx
Due: prettier --write --ignore-unknown, eslint --fix, eslint

fix: editorconfig
  .editorconfig
Due: none

config: actions deploy attempt
  .github/workflows/testing.yml
  .gitignore
  app/api/payment/route.ts
  app/book-appointment/components/BookingForm/BookingForm.tsx
  app/book-appointment/components/PaymentForm/PaymentForm.tsx
  app/info/layout.tsx
Due: prettier --write --ignore-unknown, eslint --fix, eslint

config: testing env in actions
  .github/workflows/testing.yml
  app/page.tsx
Due: prettier --write --ignore-unknown, eslint --fix, eslint

config: env variables
  .github/workflows/testing.yml
Due: none

config: list env vars
  .github/workflows/testing.yml
Due: none

token to list vars
  .github/workflows/testing.yml
Due: none

config: add env variables on build step
  .github/workflows/testing.yml
Due: none

config: add env variables on build step: fix
  .github/workflows/testing.yml
Due: none

config: add env variables on build step: fix 2
  .github/workflows/testing.yml
Due: none

config: add env variables on build step: fix 3
  .github/workflows/testing.yml
Due: none

config: add env variables on build step: fix 4
  .github/workflows/testing.yml
Due: none

feat: build and run app in ci, e2e mocks for ci, more jest tests
  .github/workflows/testing.yml
  app/components/Button/Button.test.tsx
  app/components/Checkbox/Checkbox.test.tsx
  app/components/Checkbox/Checkbox.tsx
  cypress/e2e/firstTest.cy.ts
  cypress/e2e/search.cy.ts
  cypress/fixtures/emptyDogs.json
  cypress/fixtures/retriever.json
  cypress/fixtures/spitz.json
  cypress/screenshots/firstTest.cy.ts/template spec -- passes (failed) (1).png
  cypress/screenshots/firstTest.cy.ts/template spec -- passes (failed).png
  cypress/screenshots/search.cy.ts/search -- works with correct input data (failed).png
  cypress/support/e2e.ts
  cypress/tsconfig.json
  jest.config.ts
  jest.setup.ts
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix, eslint

config: separate ci tests from deploy
  .github/workflows/testing.yml
Due: none
